body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, :after, :before {
  box-sizing: border-box;
}

button {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 0 rgba(0,0,0,.02);
  outline: none;
  cursor: pointer;
  transition: all .2s;
}

button:hover {
  color: #4096ff;
  border-color: #4096ff;
}

input {
  background: #fff;
  border: 1px solid #d9d9d9;
  outline: none;
  transition: all .2s;
}

input:hover {
  border-color: #4096ff;
  border-inline-end-with: 1px;
}